
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container
{
  background: #1f1f1f;
  border-radius: 5px;
  padding: 20px;

}
img
{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 10px;
}
.box
{
  background: #333333;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  font: weight 700;
}
.box:hover
{
  background: yellowgreen;
  cursor: pointer;
}
h1{
  color: rgb(233, 233, 233);
  font-size: 1.2rem;
  margin: 10px;
  
}
h5{
  color: rgb(195, 255, 0);
}
p{
  color: white;
  padding: 20px;
  font-size: .8rem;
  
}
